<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="https://avatars.githubusercontent.com/u/124218570?v=4" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Julio Enrique</p>
    <p>Full Stack developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate explicabo quaerat, consequuntur non
        dolorem
        voluptatem pariatur earum quam deleniti vitae, iste quas temporibus fuga vero autem natus quia itaque vel?</p>
    </span>
  </div>
</div>