<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" alt="logo argentina programa" id="logoap">
    </div>
    <div class="redes">
      <a href="https://github.com/julioenriqee" target="_blank">
        <img src="../../../assets/github.png">
      </a>
      <a href="https://linkedin.com/in/julio-enrique-54234a223" target="_blank">
        <img src="../../../assets/linkedin.png" id="linkedin">
      </a>
      <a href="https://www.instagram.com/julio.enriqee/?hl=es-la" target="_blank">
        <img src="../../../assets/instagram.png">
      </a>

      <button type="button" class="btn btn-outline-light">INGRESO</button>
      <button type="button" class="btn btn-outline-light">CERRAR SESION</button>

    </div>
  </div>
</div>
<!--(click)="login()" *ngIf="!isLogged"-->
<!--(click)="onLogOut()" *ngIf="isLogged"-->